@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --color-Dark-Blue-300: #072B61;
    --color-boton2: #356EA9;
    --color-principal: #609ED4;
    --color-fondoTexto: #EFF1FA;
    --fuente-inter: 'Inter', sans-serif;
}

/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Importante para incluir el padding y borde en el tamaño total del elemento */
}

body{
    background-color: var(--color-principal);
    width: 100%;
    max-width: 1440px;
    max-height: 1024px;
    display: block;
    justify-content: center;
    align-items: center;
    
}

header{
    width: 100%; 
    background-color: aquamarine;
    
    
    
}
.imgLogo{
    width: 31.09px;
    margin: 40px 0 0 100px;
    
    
}

main{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    font-family: var(--fuente-inter);
    font-size: 1rem;
    background-color: aqua;
}

.sectionEncriptar{
    padding: 20px;
    background-color: red;
    justify-content: center;
    align-items: center;
    padding-left: 240px;

}

.textoNuevo::placeholder{
    font-family: var(--fuente-inter);
    color: var(--color-Dark-Blue-300);
    font-size: 1.6rem;
}

.textoNuevo{
    font-family: var(--fuente-inter);
    font-size: 1.2rem;
    color: var(--color-Dark-Blue-300);
    width: 100%;
    height: 288px;
    background-color: var(--color-principal);
    border: none;
    outline: none; /* Quita el borde al hacer clic */
    resize: none; /* Evita el redimensionamiento */
    
}


.imgExclamacion{
    width: 16px;
}
.containerInstrucciones{
    display: flex;
    gap: 20px;
    padding-top: 20px;
}


button{
    width: 250px;
    height: 67px;
    border-radius: 20px;
    font-family: var(--fuente-inter);
    font-size: 1.5rem;
    
}

.containerBotones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* espacio entre los botones */
    width: 680px;
    height: 67px;
    
}

.btnEncriptar{
    background-color: var(--color-Dark-Blue-300);
    color: var(--color-fondoTexto);
    border: 5px solid var(--color-Dark-Blue-300);

}

.btnDesencriptar{
    background-color: var(--color-fondoTexto);
    border: 5px solid var(--color-Dark-Blue-300);
    color: var(--color-Dark-Blue-300);
}

.btnCopiar{
    background-color: var(--color-fondoTexto);
    border: 5px solid var(--color-Dark-Blue-300);
    color: var(--color-Dark-Blue-300);
}

.sectionDesencriptar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 40%;
    background-color: orange;
    padding: 10px;
}

.textoEncriptado{
    font-family: var(--fuente-inter);
    font-size: 1.2rem;
    columns: var(--color-Dark-Blue-300);
    width: 90%;
    height: 600px;    
    background-color: var(--color-fondoTexto);
    background-image: url(./imagenes/codeBinario.png);
    background-size: 400px;
    position: relative;
    background-repeat: no-repeat;
    border: none;
}

footer{
    background-color: pink;
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.textoFooter{
    font-family: var(--fuente-inter);
    font-size: 2rem;
}

/* Media queries para pantallas responsivas */
@media (max-width: 1440px) {
    /* Ajustes para pantallas grandes */
}

@media (max-width: 768px) {
    /* Ajustes para tablet */
    main {
        flex-direction: column;
        align-items: center;
    }
    .sectionDesencriptar {
        width: 100%;
        max-width: 375px;
        height: auto;
    }
    .textoEncriptado {
        height: 370px;
    }
}

@media (max-width: 375px) {
    /* Ajustes para móviles */
    main {
        flex-direction: column;
        align-items: center;
    }
    .sectionDesencriptar {
        width: 100%;
        max-width: 375px;
        height: auto;
    }
    .textoEncriptado {
        height: 370px;
    }
}