@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

:root {
    --color-Dark-Blue-300: #050C9C;
    --color-boton2: #356EA9;
    --color-principal: #3ABEF9;
    --color-fondoTexto: #A7E6FF;
    --fuente-inter: 'Inter', sans-serif;
    --fuente-titulo:"Rowdies", sans-serif;
}

/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Importante para incluir el padding y borde en el tamaño total del elemento */
}

body {
    background-color: var(--color-principal);
    width: 100%;
    font-family: var(--fuente-inter);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

header {
    display: flex;
    width: 100%; 
    background-color: var(--color-fondoTexto);
    padding-top: 20px;

}

.containerLogo img {
    margin-left: 40px;
    height: 48px;
    margin-bottom: 20px;

}

.containerTitulo {
    font-family: var(--fuente-titulo);
    letter-spacing: 5px;
    width: 100%;
    text-align: center;
    margin-right: 70px;

}

main {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around; /* Distribuye los section horizontalmente */
    align-items: flex-start;
    gap: 50px;
    padding: 20px;
}

.sectionEncriptar,
.sectionDesencriptar {
    flex: 1;
    padding: 20px;
    background-color: var(--color-fondoTexto);
    border-radius: 10px;
    -webkit-box-shadow: 0px 12px 24px -11px rgba(5,12,156,1);
    -moz-box-shadow: 0px 12px 24px -11px rgba(5,12,156,1);
    box-shadow: 0px 12px 24px -11px rgba(5,12,156,1);
}


textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: none;
    border-style: none;
    
}


.textoNuevo::placeholder{
    font-family: var(--fuente-inter);
    color: var(--color-Dark-Blue-300);
    font-size: 1rem; 
    resize: none;
}

.textoNuevo{
    background: none;
    outline: none;
    resize: none;
}

.containerInstrucciones {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.containerInstrucciones img {
    width: 20px;
}

.containerBotones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    width: 48%;
    height: 50px;
    border-radius: 5px;
    font-family: var(--fuente-inter);
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid var(--color-Dark-Blue-300);
}

.btnEncriptar {
    background-color: var(--color-Dark-Blue-300);
    color: var(--color-fondoTexto);
}

.btnDesencriptar {
    background-color: var(--color-fondoTexto);
    color: var(--color-Dark-Blue-300);
    
}

.btnCopiar{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-Dark-Blue-300);
    border-color: 2px solid (--color-Dark-Blue-300);
    
}


.textoEncriptado{
    outline: none;
    resize: none;;
}



footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-principal);
    text-align: center;
    padding: 20px 0;
}

.textoFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fuente-inter);
    font-size: 1.5rem;
    color: var(--color-fondoTexto);
    background-color: var(--color-Dark-Blue-300);
    height: 70px;
    width: 100%;
}

.banderaES{
    height: 50px;
    padding-left: 50px;

}

/* Media queries para pantallas responsivas */
@media (max-width: 1200px) {
    main {
        flex-direction: column;
        align-items: center;
    }
    .sectionEncriptar,
    .sectionDesencriptar {
        max-width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .sectionEncriptar,
    .sectionDesencriptar {
        max-width: 100%;
    }
    .textoEncriptado {
        height: 200px;
    }
}

@media (max-width: 375px) {
    .sectionEncriptar,
    .sectionDesencriptar {
        max-width: 100%;
    }
    .textoEncriptado {
        height: 150px;
    }
}
